#box {
  background: red;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 10px dotted rgb(73, 255, 73);
  margin: 50px;
  padding: 50px;
}

#float {
  background: blueviolet;
  width: 200px;
  height: 200px;
  display: block;
  float: right;
}

#font {
  background-image: url("fluffy-cat.jpeg");
  width: 220px;
  height: 225px;
  font-weight: 900;
  color: rgb(0, 255, 255);
  font-size: 28px;
}

.position {
  background: grey;
  width: 350px;
  height: 200px;
  margin: 100px;
}

div > h1 {
  height: 50px;
  width: 200px;
  background: aqua;
  position: relative;
  left: 150px;
}

div > h2 {
  height: 50px;
  width: 200px;
  background: aqua;
  position: fixed;
  top: 700px;
}

div div {
  height: 50px;
  width: 200px;
  background: aqua;
  position: absolute;
}

#flex {
  height: 400px;
  width: 800px;
  background: olivedrab;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.box {
  display: block;
  height: 80px;
  width: 200px;
  background: orange;
  border: 2px solid black;
  margin: 20px;
}
